langgraph
langgraph-cli
ipykernel
langchain
langchain_core
dotenv
openai
langchain
langchain_openai
google-search-results
newspaper3k
lxml
lxml_html_clean
yake
scikit-learn
keybert 
sentence-transformers
langchain-perplexity
langgraph
typing-extensions
langchain-openai 
langchain-community 
faiss-cpu 
tiktoken
streamlit